<div class="col-md-3 offset-md-3 mt-5">
    <h3>View Bank Details</h3>
  
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for=""><b>ID : </b></label> {{ bank.bankId }}
        </li>
        <li class="list-group-item">
          <label for=""><b>Bank Name : </b></label> {{ bank.name }}
        </li>
        <li class="list-group-item">
          <label for=""><b>Code : </b></label> {{ bank.code }}
        </li>
        <li class="list-group-item">
          <label for=""><b>Status : </b></label> {{ bank.status}}
        </li>
        <li class="list-group-item">
            <label for=""><b>Branches : </b></label> {{ bank.noOfBranches}}
          </li>
      </ul>
    </div>
  </div>
