<mat-toolbar color="primary" class="navbar-fixed-top">
  <button
    routerLink="banks"
    routerLinkActive="active"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>house</mat-icon>
  </button>
  <span routerLink="banks" routerLinkActive="active">Home</span>
  <span class="example-spacer"></span>
  <button mat-raised-button class="me-3" color="warn" routerLink="create-bank">
    New <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>

<b
  ><h1 class="text-center">{{ title }}</h1></b
>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
  <div class="container">
    <div class="m-10">
      <span>ALl Right Reserved 2022 Prabath Udayanga</span>
    </div>
  </div>
</footer> -->
<lib-ng-toast></lib-ng-toast>
