<div class="col-md-6 offset-md-3 mt-5">
  <h3>Create Bank</h3>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput id="name" [(ngModel)]="bank.name" name="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Code</mat-label>
      <input
        matInput
        type="text"
        id="name"
        [(ngModel)]="bank.code"
        name="name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Status</mat-label>
      <mat-select id="status" name="status" [(ngModel)]="bank.status">
        <mat-option value="Active">Active</mat-option>
        <mat-option value="Inactive">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Branches</mat-label>
      <input
        matInput
        type="number"
        id="name"
        [(ngModel)]="bank.noOfBranches"
        name="name"
      />
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" type="submit">Add</button>
    <button
      class="ms-2"
      mat-raised-button
      color="warn"
      (click)="goToBanksList()"
    >
      Cancel
    </button>
  </form>
</div>
